<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

	<title>{% block title %}Limas{% endblock %}</title>
	<base href="{{ baseUrl }}"/>
	<link rel="icon" href="{{ asset('build/images/favicon.png') }}">
	{% set themes = {"classic": "Classic", "crisp": "Crisp", "crisp-touch": "Crisp Touch", "gray": "Gray", "neptune": "Neptune", "neptune-touch": "Neptune Touch", "triton": "Triton", "aria": "Aria"} %}

	<link id="theme" rel="stylesheet" href="{{ asset('js/packages/extjs/build/classic/theme-classic/resources/theme-classic-all.css') }}"/>
	<link id="themeUx" rel="stylesheet" href="{{ asset('js/packages/extjs/build/packages/ux/classic/classic/resources/ux-all.css') }}"/>
	<link rel="stylesheet" href="{{ asset('js/packages/extjs/build/packages/ux/classic/classic/resources/ux-all.css') }}"/>
	<link rel="stylesheet" href="{{ asset('js/packages/extjs/build/packages/charts/classic/neptune/resources/charts-all.css') }}"/>
	<link rel="stylesheet" href="{{ asset('build/famfamfam-silk-sprite/silk-icons-sprite.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('spritesheets/fugue-16.css') }}"/>
	<link rel="stylesheet" href="{{ asset('spritesheets/partkeepr.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/PartKeepr.css') }}"/>

	<script>
		var Ext = Ext || {};
	</script>
	<script src="{{ asset('js/packages/extjs/build/ext-all.js') }}"></script>
	<script src="{{ asset('build/limas/extjs.js') }}"></script>

	<script src="{{ asset('build/limas/main.js') }}"></script>

	<script src="{{ asset('js/models.js') }}"></script>

	<script src="{{ asset('build/limas/main2.js') }}"></script>
</head>
<body>
<div id="loader-wrapper">
	<div id="loader-logo"></div>
	<div id="loader"></div>
	<div id="loader-message"></div>
</div>
<script>
	window.themes = {};
	window.theme = 'classic';
	{% for themeId, themeName in themes %}
	window.themes['{{ themeId }}'] = {
		themeUri: '{{ asset('js/packages/extjs/build/classic/theme-'~themeId~'/resources/theme-'~themeId~'-all.css') }}',
		themeUxUri: '{{ asset('js/packages/extjs/build/packages/ux/classic/'~themeId~'/resources/ux-all.css') }}',
		themeName: '{{ themeName }}'
	};
	{% endfor %}
	window.parameters ={{ parameters|json_encode|raw }};
</script>
</body>
</html>
